<div class="headerbar">
                <a class="menutoggle"><i class="fa fa-bars"></i></a>
                <!-- <form class="searchform" action="index.html" method="post">
                    <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
                </form> -->
                <div class="header-right">
                    <ul class="headermenu">
                        <li>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-uid="<{$user.uid}>" />
                                    <i class="fa fa-user-circle"></i>&nbsp;<{$user.username}>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                    <li><a href="/account/info/account/info"><i class="glyphicon glyphicon-cog"></i>帐号设置</a></li>
                                    <!-- <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i>帮助</a></li> -->
                                    <li><a href="/user/sign_out"><i class="glyphicon glyphicon-log-out"></i>退出</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- header-right -->
            </div>