<!DOCTYPE html>
<html>
<head>
    <{include file="common/header.html"}>
    <link rel="stylesheet" type="text/css" href="/resources/css/login.css" />
</head>
<body>
    <div class="page-bg-block h480">
        <div class="log-block">
            <div class="log-img-block"><img src="/resources/images/logo.png" width="118" height="50" /></div>
            <div class="log-text-block">百晓Dsp|登录</div>
        </div>
        <div class="form-list">
            <label for="account"></label>
            <input type="text" name="account" id="account" placeholder="输入用户名/邮箱/手机号" value="" />
        </div>
        <div class="account-tip">用户名不能为空;</div>
        <div class="form-list">
            <label for="passwd"></label>
            <input type="password" name="passwd" id="passwd" placeholder="" value="" />
        </div>
        <div class="passwd-tip">密码不能为空;</div>
        <div class="form-list"><div id="QapTcha" class="QapTcha"></div></div>
        <div class="form-list"><a href='javascript:void(0);' class="simulation-submit-buts" data-submit-type="login">登录</a></div>
        <div class="form-list"><a href='javascript:void(0);' class="simulation-ckeckbox-but" data-checked="true" data-type="remember-passwd">记住密码</a><span class="link-block">还没有帐号？<a href="/user/register" class="a-link">注册</a></span></div>
    </div>
</body><script type="text/javascript" src="/resources/js/sign.js"></script>
</html>
